<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Pramod Dutta/APIAutomation5XFramework/src/test/java/tests/integration">
        <classes>
            <class name="tests.integration.TCIntegration1">
                <methods><include name="testCreateBooking"/>
                    <include name="testVerifyBookingID"/>
                    <include name="testUpdateBookingByID"/>
                    <include name="testDeleteBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>